$header-color: #e8edf6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $header-color;
  padding: 10px 70px;
}

.wrap-logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.leagues {
  font-size: 32px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}
