<div class="wrapper">
  <app-header class="header"></app-header>

  <input class="form-control" type="text" name="search" (input)="searchLeagues()" [(ngModel)]="searchText" autocomplete="off" placeholder="&#128269; Поиск">

  <div class="body">
    <app-one-league *ngFor="let league of pageItems; trackBy: trackByFunc" [id]="league.id" [nameOfLeague]="league.name" [countryOfLeague]="league.area.name" [image]="league.area.ensignUrl"></app-one-league>
  </div>

  <div class="footer">
    <mat-paginator #page [length]="countOfLeagues"
                   [pageSize]="itemsPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="OnPageChange($event)"
                   class="mat-elevation-z8" >
    </mat-paginator>
  </div>
</div>


