<div class="wrapper">
  <app-header class="header"></app-header>

  <div class="container">
    <xng-breadcrumb separator=">" class="breadcrumb">
      <ng-container *xngBreadcrumbItem="let breadcrumb">
        <ng-container>{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>

    <h1>Матчи</h1>
    <div class="section-with-datepickers">

      <h3>c</h3>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerFrom">
        <mat-hint>ММ/ДД/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <h3>по</h3>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo">
        <mat-hint>ММ/ДД/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>


    </div>

    <div class="body">
      <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="date-status">
          <th mat-header-cell *matHeaderCellDef> Date/Status </th>
          <td mat-cell *matCellDef="let match">
            <p>
              {{ match.utcDate | date:'medium' }}
            </p>
            <p class="status">
              {{ match.status }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="opponents">
          <th mat-header-cell *matHeaderCellDef> Opponents </th>
          <td mat-cell *matCellDef="let match">
            {{ match.homeTeam.name }} vs. {{ match.awayTeam.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let match">
            <p *ngIf="match.score.winner">
              {{ match.score.fullTime.homeTeam }} : {{ match.score.fullTime.awayTeam }}
            </p>
            <p *ngIf="!match.score.winner">-</p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                     aria-label="Select page">
      </mat-paginator>

    </div>
  </div>


  <div class="footer">
<!--    <mat-paginator [length]="collectionSize"-->
<!--                   [pageSize]="itemsPerPage"-->
<!--                   [pageSizeOptions]="[5, 10, 15]"-->
<!--                   class="mat-elevation-z8"-->
<!--                   aria-label="Select page">-->
<!--    </mat-paginator>-->
  </div>
</div>
