$width-card: 280px;
$height: 150px;

.card {
  cursor: pointer;
  width: $width-card;
  height: $height;
  margin: 20px 20px;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}
.card:hover {
  opacity: 0.6;
}

.image {
  position: absolute;
  object-fit: cover;
  width: $width-card;
  height: $height;
  left: 0;
  opacity: 0.2;
}
.name {
  padding-top: 30px;
}
